# Composer dependencies
vendor/
composer.lock

# Environment variables
.env

# PHP CS Fixer
.php-cs-fixer.cache

# Databases
database/*.db

# Admin Password
*.pwd

# Generated assets
generated/*
!generated/.gitkeep

# Node dependencies
node_modules/
package-lock.json
